/*Body style*/

body,
html {
  height: 100%;
  margin: 0;
  background-color: #262626;
}


/*Simple img styling*/

img {
  display: block;
  width: 60px;
}


/* The hero image */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/hero_image.jpg");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
  position: relative;
}


/*The Hero Text*/

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00aeff;
  font-family: "Raleway", "Roboto", "Arial";
}

/*Navigation bar style*/

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00aeff;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: flex;
  font-family: "Roboto", "Raleway", "Arial";
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover:not(.active) {
  background-color: #2371A0;
}

ul.nav li a.active {
  background-color: #262626
}

ul.nav li.right {
  float: right;
}


/*The comment form*/

form {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px #262626;
  background: #262626;
  font-family: "Raleway", "Roboto", "Arial";
  font-size: 2vw;
  color: #00aeff;
  margin: 20px;
}

input,
textarea {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #00aeff;
  outline: none;
  font-family: "Roboto", "Raleway", "Arial";
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #00aeff;
  font-family: "Roboto", "Raleway", "Arial";
  font-size: 16px;
  font-weight: 500;
  color: #262626;
}

button:hover {
  background: #2371a0;
}

@media (min-width: 568px) {
  .main-block {
    flex-direction: row;
  }
}

.left-part,
form {
  width: 30%;
}


/*This is the heart styling*/

.fa {
  color: #2371a0;
  font-size: 50px;
  cursor: pointer;
}


/*This is the music table style*/

table{
  margin-left: 20px;
  margin-bottom: 50px;
  border-collapse: collapse;
  font-family: "Roboto", "Raleway", "Arial";
}

td {
  background: #262626;
  color: whitesmoke;
  padding-right: 20px;
  text-align: left;
  vertical-align: middle;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.table-fill {
  background: #262626;
  border-collapse: collapse;
  height: 100px;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

div.table-title {
  display: block;
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.table-title h3 {
  color: whitesmoke;
  font-size: 22px;
  font-weight: 300;
  font-family: "Roboto", "Raleway", "Arial";
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-wrap: wrap;
}


/* Create four equal columns that sits next to each other */

.column {
  flex: 25%;
  max-width: 25%;
}

.column img {
  vertical-align: middle;
  width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}