/*Body style*/
body {
  margin: 0;
  background-color: #262626;
}

body, html {
    height: 100%;
}

img {
	border-radius: 50%;
	width:100px;
	height: 100px;
  }

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.freepik.com/free-photos-vectors/background");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00aeff;
  font-family: "Raleway", "Roboto", "Arial";
}

/*Heading Style*/
.Headings {
  display: flex;
	color: #ffc300;
	font-family: "Raleway", "Roboto", "Arial";
	font-size: 2vw;
	color: #00aeff;
  margin: 20px;
}


/*Paragraphs style*/
.Paragraphs {
	color: whitesmoke;
  font-family: "Roboto", "Raleway", "Arial";
  margin: 20px;
  font-size: 18;
}


/*Navigation bar style*/
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00aeff;
}

ul.nav li {
    float: left;}

ul.nav li a {
    display: flex;
    color: white;
    font-family: "Roboto", "Raleway", "Arial";
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover:not(.active) {background-color: #111;}

ul.nav li a.active {background-color: #262626}

ul.nav li.right {float: right;}
